{{ define "main" }}

<!-- 
=============================================
    Theme Main Banner
============================================== 
-->
{{ with .Params.section1 }}
<div id="theme-main-banner" class="banner-one">
    <div data-src="images/home/slide-1.jpg">
        <div class="camera_caption">
            <div class="container">
                <!-- <h5 class="wow fadeInUp animated">{{ .subtitle }}</h5> -->
                <h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>{{ .line1 }}</span><br><span>{{ .line2 }}</span>{{ with .line3 }}<br><span>{{ . }}</span>{{ end }}</h1>
                {{ with .btn }}
                {{ $link := .link }}
                <a href='{{ $.Scratch.Get $link }}' class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one" data-wow-delay="0.3s">{{ .title }}</a>
                {{ end }}
                <div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.33s">
                    <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
                        <clipPath class="clip1">
                            <use xlink:href="#shape-one" />
                        </clipPath>
                        <g clip-path="url(#shape-one)">
                            <image href="{{ .image }}" class="banner-img-one" style="width: 100%; height: auto;">
                            </image>
                        </g>
                    </svg>
                </div>
                <div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.39s"><div class="theme-shape-two"></div></div>
            </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
    </div>
</div> <!-- /#theme-main-banner -->
{{ end }}


<!-- 
=============================================
    What We Do
============================================== 
-->
{{ with .Params.section2 }}
<div class="what-we-do">
    <div class="container">
        <h3>{{ .description1 }}</h3>
        <h6>{{ .description2 }}</h6>

        <div class="row">
            {{ range .blocks }}
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
                <div class="single-block">
                    <div class="icon color-one"><i class="{{ .icon }}"></i></div>
                    <h6>{{ .title }}</h6>
                    <h5><a href="{{ .link }}" class="tran3s">{{ .description }}</a></h5>
                </div> <!-- /.single-block -->
            </div> <!-- /.col- -->
            {{ end }}
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.what-we-do -->
{{ end }}


<!-- 
=============================================
    More About Us
============================================== 
-->
{{ with .Params.section3 }}
<div class="more-about-us">
    <div class="image-box">
        <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="632">
            <clipPath class="clip1">
                <use xlink:href="#shape-one" />
            </clipPath>
            <g clip-path="url(#shape-one)">
                <image width="854" height="632" href="{{ .image }}" class="image-shape">
                </image>
            </g>
        </svg>
    </div>
    <div class="theme-shape-three"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-offset-5">
                <div class="main-content">
                    <h2>{{ .title }}</h2>
                    <div class="main-wrapper">
                        <h4>{{ .subtitle }}</h4>
                        <p>{{ .description | markdownify }}</p>
                        <img src="images/home/sign.png" alt="sign">
                        {{ with .btn }}
                        {{ $link := .link }}
                        <div class="button-wrapper p-bg-color">
                            <span>{{ .subtitle }}</span>
                            <a href='{{ $.Scratch.Get $link }}' class="hvr-icon-wobble-horizontal">{{ .title }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div> <!-- /.button-wrapper -->
                        {{ end }}
                    </div> <!-- /.main-wrapper -->
                </div> <!-- /.main-content -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.more-about-us -->
{{ end }}

<!-- 
=============================================
    Theme Counter
============================================== 
-->
{{ with .Params.section4 }}
<div class="theme-counter">
    <div class="container">
        <div class="row">
            {{ range . }}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="single-box">
                    <h2 class="number"><span class="timer" data-from="0" data-to="{{ .number }}" data-speed="1000" data-refresh-interval="5">0</span>{{ with .suffix }}{{ . }}{{ end }}</h2>
                    <p>{{ .title }}</p>
                </div> <!-- /.single-box -->
            </div>
            {{ end }}
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.theme-counter -->
{{ end }}

<!-- 
=============================================
    Our Portfolio
============================================== 
-->
{{ with .Params.section5 }}
<div class="our-portfolio">
    <div class="container">
        <div class="theme-title">
            <h6>{{ .title }}</h6>
            <h2>{{ .description | markdownify }}</h2>
            {{ with .btn }}
            {{ $link := .link }}
            <a href='{{ $.Scratch.Get $link }}' class="tran3s">{{ .title }}</a>
            {{ end }}
        </div> <!-- /.theme-title -->
    </div> <!-- /.container -->

    <div class="wrapper">
        <div class="row">
            <div class="portfolio-slider">
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/1.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/1.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/2.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/2.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/3.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/3.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/4.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/4.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
            </div> <!-- /.portfolio-slider -->
        </div> <!-- /.row -->
    </div> <!-- /.wrapper -->
</div> <!-- /.our-portfolio -->
{{ end }}

<!-- 
=============================================
    Home Service Section
============================================== 
-->
{{ with .Params.section6 }}
<div class="home-service-section">
    <div class="container">
        <div class="col-md-9 col-md-offset-3 main-container">
            <div class="theme-title">
                <h6>{{ .title }}</h6>
                <h2>{{ .description1 | markdownify }}</h2>
                <p>{{ .description2 | markdownify }}</p>
                {{ with .btn }}
                {{ $link := .link }}
                <a href='{{ $.Scratch.Get $link }}' class="tran3s">{{ .title }}</a>
                {{ end }}
            </div> <!-- /.theme-title -->
            <ul class="clearfix row">
                {{ range .blocks }}
                <li class="col-md-6">
                    <div>
                        <i class="{{ .icon }}"></i>
                        <h5><a href="{{ .link }}" class="tran3s">{{ .title }}</a></h5>
                        <p>{{ .description }} </p>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div> <!-- /.main-container -->
        <img src="{{ .image }}" alt="Image" class="wow fadeInLeft">
    </div> <!-- /.container -->
</div> <!-- /.home-service-section -->
{{ end }}

{{ with .Params.section7 }}
<!-- ==================== TWO SECTION WRAPPER ====================== -->
<div class="two-section-wrapper">
    <!-- 
    =============================================
        Testimonial
    ============================================== 
    -->
    <div class="testimonial-section">
        <div class="image-box wow fadeInLeft">
            <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="630">
                <clipPath class="clip1">
                    <use xlink:href="#shape-one" />
                </clipPath>
                <g clip-path="url(#shape-one)">
                    <image width="854" height="630" href="{{ .image }}" class="image-shape">
                    </image>
                </g>
            </svg>
        </div>
        <div class="theme-shape-four wow fadeInLeft"></div>
        <div class="container">
            <div class="main-container col-md-6 col-md-offset-6">
                <div class="theme-title">
                    <h6>Testimonials</h6>
                    <h2>Check what’s our client <br>Say about us</h2>
                </div> <!-- /.theme-title -->
                <div class="testimonial-slider">
                    <div class="item">
                        <div class="wrapper">
                            <p>Their testimonial videos aren't production quality, but they get the message across, cover useful &amp; relevant information which goes to show you don't need to invest thousands in production get some testimonial videos up with quality. </p>
                            <div class="name clearfix">
                                <img src="images/home/3.jpg" alt="">
                                <h5>Rashed Kabir</h5>
                                <span>Gazipur</span>
                            </div>
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.item -->
                    <div class="item">
                        <div class="wrapper">
                            <p>Their testimonial videos aren't production quality, but they get the message across, cover useful &amp; relevant information which goes to show you don't need to invest thousands in production get some testimonial videos up with quality. </p>
                            <div class="name clearfix">
                                <img src="images/home/4.jpg" alt="">
                                <h5>Zubayer Hasan</h5>
                                <span>Uttara</span>
                            </div>
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.item -->
                </div> <!-- /.testimonial-slider -->
            </div> <!-- /.main-container -->
        </div> <!-- /.container -->
    </div> <!-- /.testimonial-section -->
</div> <!-- /.two-section-wrapper -->
{{ end }}


<!-- 
=============================================
    Home Blog Section
============================================== 
-->
{{ with .Params.section8 }}
<div class="home-blog-section">
    <div class="container">
        <div class="theme-title text-center">
            <h6>{{ .title }}</h6>
            <h2>{{ .description }}</h2>
        </div> <!-- /.theme-title -->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-one">
                    <img src="images/home/6.jpg" alt="">
                    <h6>Rashed Ka.</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-two">
                    <img src="images/home/7.jpg" alt="">
                    <h6>Jannatul Fa.</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-three">
                    <img src="images/home/8.jpg" alt="">
                    <h6>Fred Johnston</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-four">
                    <img src="images/home/9.jpg" alt="">
                    <h6>Austin Cross</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.home-blog-section -->
{{ end }}


{{ end }}