{{ define "main" }}

<!-- 
=============================================
    Theme Main Banner
============================================== 
-->
<div id="theme-main-banner" class="banner-one">
    <div data-src="images/home/slide-1.jpg">
        <div class="camera_caption">
            <div class="container">
                <h5 class="wow fadeInUp animated">Akia Marketing</h5>
                <h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>Marketing</span><br><span>web pour les</span><br><span>PME</span></h1>
                <a href="course-2-column.html" class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one" data-wow-delay="0.3s">Nos projets</a>
                <div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.33s">
                    <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
                        <clipPath class="clip1">
                            <use xlink:href="#shape-one" />
                        </clipPath>
                        <g clip-path="url(#shape-one)">
                            <image href="/images/Graph-30.gif" class="banner-img-one" style="width: 100%; height: auto;">
                            </image>
                        </g>
                    </svg>
                </div>
                <div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.39s"><div class="theme-shape-two"></div></div>
            </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
    </div>
    <!-- <div data-src="images/home/slide-1.jpg">
        <div class="camera_caption">
            <div class="container">
                <h5 class="wow fadeInUp animated">Vente en ligne</h5>
                <h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>Boutique</span><br><span>En Ligne</span><br><span>Sur Mesure</span></h1>
                <a href="course-2-column.html" class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one" data-wow-delay="0.3s">En savoir plus</a>
                <div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.33s">
                    <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
                        <clipPath class="clip1">
                            <use xlink:href="#shape-one" />
                        </clipPath>
                        <g clip-path="url(#shape-one)">
                            <image width="778" height="576" href="/images/content-strategy.png" class="banner-img-one">
                            </image>
                        </g>
                    </svg>
                </div>
                <div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.39s"><div class="theme-shape-two"></div></div>
            </div> 
        </div> 
    </div>
    <div data-src="images/home/slide-1.jpg">
        <div class="camera_caption">
            <div class="container">
                <h5 class="wow fadeInUp animated">Référencement</h5>
                <h1 class="wow fadeInUp animated" data-wow-delay="0.2s"><span>Générer</span><br><span>Du Traffic</span><br><span>Organique</span></h1>
                <a href="course-2-column.html" class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one" data-wow-delay="0.3s">Nos services</a>
                <div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.33s">
                    <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
                        <clipPath class="clip1">
                            <use xlink:href="#shape-one" />
                        </clipPath>
                        <g clip-path="url(#shape-one)">
                            <image width="778" height="576" href="images/home/1.jpg" class="banner-img-one">
                            </image>
                        </g>
                    </svg>
                </div>
                <div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.39s"><div class="theme-shape-two"></div></div>
            </div> 
        </div> 
    </div> -->
</div> <!-- /#theme-main-banner -->



<!-- 
=============================================
    What We Do
============================================== 
-->
<div class="what-we-do">
    <div class="container">
        <h3>Akia Marketing a comme mission d’outiller les PME de Montréal et des environs dans leur virage numérique en offrant de la conception de site web et du référencement performant.</h3>
        <h6>Comptez sur nous pour un travail de qualité et à votre image!</h6>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
                <div class="single-block">
                    <div class="icon color-one"><i class="flaticon-round-chart"></i></div>
                    <h6>La qualité à prix abordable</h6>
                    <h5><a href="#" class="tran3s">Des services de qualité au meilleur prix du marché, voilà notre proposition! </a></h5>
                </div> <!-- /.single-block -->
            </div> <!-- /.col- -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="single-block">
                    <div class="icon color-two middle-block"><i class="flaticon-computer"></i></div>
                    <h6>Un produit qui vous ressemble</h6>
                    <h5><a href="#" class="tran3s">Le but ultime? Un produit 100% à votre image!</a></h5>
                </div> <!-- /.single-block -->
            </div> <!-- /.col- -->
            <div class="col-md-4 hidden-sm col-xs-12 wow fadeInRight">
                <div class="single-block">
                    <div class="icon color-three"><i class="flaticon-user"></i></div>
                    <h6>Une équipe à votre écoute</h6>
                    <h5><a href="#" class="tran3s">Votre satisfaction est notre plus grande préoccupation, alors nous vous écoutons!</a></h5>
                </div> <!-- /.single-block -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.what-we-do -->



<!-- 
=============================================
    More About Us
============================================== 
-->
<div class="more-about-us">
    <div class="image-box">
        <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="632">
            <clipPath class="clip1">
                <use xlink:href="#shape-one" />
            </clipPath>
            <g clip-path="url(#shape-one)">
                <image width="854" height="632" href="images/home/2.jpg" class="image-shape">
                </image>
            </g>
        </svg>
    </div>
    <div class="theme-shape-three"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-offset-5">
                <div class="main-content">
                    <h2>We’r a dynamic team of creatives people innovation &amp; Marketing Expert.</h2>
                    <div class="main-wrapper">
                        <h4>Best Digital Agency in Asia</h4>
                        <p>We provide marketing services to startups and small businesses to looking for a partner of their digital media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you. Although we have great resources.</p>
                        <img src="images/home/sign.png" alt="sign">
                        <div class="button-wrapper p-bg-color">
                            <span>Learn More</span>
                            <a href="about-us.html" class="hvr-icon-wobble-horizontal">More About us <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div> <!-- /.button-wrapper -->
                    </div> <!-- /.main-wrapper -->
                </div> <!-- /.main-content -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.more-about-us -->




<!-- 
=============================================
    Theme Counter
============================================== 
-->
<div class="theme-counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="single-box">
                    <h2 class="number"><span class="timer" data-from="0" data-to="2730" data-speed="1000" data-refresh-interval="5">0</span>+</h2>
                    <p>Completed Projects</p>
                </div> <!-- /.single-box -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="single-box">
                    <h2 class="number"><span class="timer" data-from="0" data-to="39" data-speed="1000" data-refresh-interval="5">0</span></h2>
                    <p>Availble Country</p>
                </div> <!-- /.single-box -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="single-box">
                    <h2 class="number"><span class="timer" data-from="0" data-to="125" data-speed="1000" data-refresh-interval="5">0</span>M</h2>
                    <p>User Worldwide</p>
                </div> <!-- /.single-box -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="single-box border-fix">
                    <h2 class="number"><span class="timer" data-from="0" data-to="12" data-speed="1000" data-refresh-interval="5">0</span></h2>
                    <p>Award Winner</p>
                </div> <!-- /.single-box -->
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.theme-counter -->


<!-- 
=============================================
    Our Portfolio
============================================== 
-->
<div class="our-portfolio">
    <div class="container">
        <div class="theme-title">
            <h6>Recent work</h6>
            <h2>We’ve done lot’s of work, Let’s <br>Check some from here</h2>
            <a href="portfolio-v1.html" class="tran3s">See All projects</a>
        </div> <!-- /.theme-title -->
    </div> <!-- /.container -->

    <div class="wrapper">
        <div class="row">
            <div class="portfolio-slider">
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/1.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/1.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/2.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/2.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/3.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/3.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/portfolio/4.jpg" alt="">
                        <div class="opacity tran4s"><a data-fancybox="project" href="images/portfolio/4.jpg" class="tran3s" title="We’ve done lot’s of work, Let’s Check"></a></div>
                    </div>
                </div>
            </div> <!-- /.portfolio-slider -->
        </div> <!-- /.row -->
    </div> <!-- /.wrapper -->
</div> <!-- /.our-portfolio -->


<!-- 
=============================================
    Home Service Section
============================================== 
-->
<div class="home-service-section">
    <div class="container">
        <div class="col-md-9 col-md-offset-3 main-container">
            <div class="theme-title">
                <h6>Our Services</h6>
                <h2>We provide wide range of web &amp; <br>business services.</h2>
                <p>We’ve strong  work history with different business services</p>
                <a href="service-v1.html" class="tran3s">See All Services</a>
            </div> <!-- /.theme-title -->
            <ul class="clearfix row">
                <li class="col-md-6">
                    <div>
                        <i class="flaticon-user"></i>
                        <h5><a href="service-v1.html" class="tran3s">Business Consulting</a></h5>
                        <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
                    </div>
                </li>
                <li class="col-md-6">
                    <div>
                        <i class="flaticon-layers"></i>
                        <h5><a href="service-v1.html" class="tran3s">Interface Design</a></h5>
                        <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
                    </div>
                </li>
                <li class="col-md-6">
                    <div>
                        <i class="flaticon-bar-chart"></i>
                        <h5><a href="service-v1.html" class="tran3s">SEO &amp; SMM services</a></h5>
                        <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
                    </div>
                </li>
                <li class="col-md-6">
                    <div>
                        <i class="flaticon-smartphone"></i>
                        <h5><a href="service-v1.html" class="tran3s">Apps Development</a></h5>
                        <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
                    </div>
                </li>
            </ul>
        </div> <!-- /.main-container -->
        <img src="images/home/shape-2.png" alt="Image" class="wow fadeInLeft">
    </div> <!-- /.container -->
</div> <!-- /.home-service-section -->



<!-- ==================== TWO SECTION WRAPPER ====================== -->
<div class="two-section-wrapper">
    <!-- 
    =============================================
        Testimonial
    ============================================== 
    -->
    <div class="testimonial-section">
        <div class="image-box wow fadeInLeft">
            <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="630">
                <clipPath class="clip1">
                    <use xlink:href="#shape-one" />
                </clipPath>
                <g clip-path="url(#shape-one)">
                    <image width="854" height="630" href="images/home/5.jpg" class="image-shape">
                    </image>
                </g>
            </svg>
        </div>
        <div class="theme-shape-four wow fadeInLeft"></div>
        <div class="container">
            <div class="main-container col-md-6 col-md-offset-6">
                <div class="theme-title">
                    <h6>Testimonials</h6>
                    <h2>Check what’s our client <br>Say about us</h2>
                </div> <!-- /.theme-title -->
                <div class="testimonial-slider">
                    <div class="item">
                        <div class="wrapper">
                            <p>Their testimonial videos aren't production quality, but they get the message across, cover useful &amp; relevant information which goes to show you don't need to invest thousands in production get some testimonial videos up with quality. </p>
                            <div class="name clearfix">
                                <img src="images/home/3.jpg" alt="">
                                <h5>Rashed Kabir</h5>
                                <span>Gazipur</span>
                            </div>
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.item -->
                    <div class="item">
                        <div class="wrapper">
                            <p>Their testimonial videos aren't production quality, but they get the message across, cover useful &amp; relevant information which goes to show you don't need to invest thousands in production get some testimonial videos up with quality. </p>
                            <div class="name clearfix">
                                <img src="images/home/4.jpg" alt="">
                                <h5>Zubayer Hasan</h5>
                                <span>Uttara</span>
                            </div>
                        </div> <!-- /.wrapper -->
                    </div> <!-- /.item -->
                </div> <!-- /.testimonial-slider -->
            </div> <!-- /.main-container -->
        </div> <!-- /.container -->
    </div> <!-- /.testimonial-section -->

    <!-- 
    =============================================
        Pricing Plan Style One
    ============================================== 
    -->
    <div class="pricing-plan-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 wow fadeInLeft">
                    <div class="theme-title">
                        <h6>Our pricing</h6>
                        <h2>Not any hidden <br>charge, Choose you <br>pricing plan</h2>
                        <p>We have differe type of pricing table to choose with <br>your need with resonable price. </p>
                    </div> <!-- /.theme-title -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#monthly">Monthly</a></li>
                        <li><a data-toggle="tab" href="#yearly">Yearly</a></li>
                    </ul>
                </div> <!-- /.col- -->

                <div class="col-md-6 col-xs-12 wow fadeInRight">
                    <div class="tab-content">
                        <div id="monthly" class="tab-pane fade in active">
                            <div class="clearfix">
                                <div class="float-left left-side">
                                    <span><sub>$</sub>96.<sup>99</sup></span>
                                    <h6>Business</h6>
                                    <a href="#">+</a>
                                </div> <!-- /.left-side -->
                                <div class="right-side float-left">
                                    <h6>40% OFF</h6>
                                    <h4>Weekly Package</h4>
                                    <ul>
                                        <li>50GB Bandwidth</li>
                                        <li>Business & Financ Analysing</li>
                                        <li>24 hour support</li>
                                        <li>Customer Managemet</li>
                                    </ul>
                                </div> <!-- /.right-side -->
                            </div>
                        </div> <!-- /#monthly -->
                        <div id="yearly" class="tab-pane fade">
                            <div class="clearfix">
                                <div class="float-left left-side">
                                    <span><sub>$</sub>296.<sup>99</sup></span>
                                    <h6>Business</h6>
                                    <a href="#">+</a>
                                </div> <!-- /.left-side -->
                                <div class="right-side float-left">
                                    <h6>40% OFF</h6>
                                    <h4>Weekly Package</h4>
                                    <ul>
                                        <li>50GB Bandwidth</li>
                                        <li>Business & Financ Analysing</li>
                                        <li>24 hour support</li>
                                        <li>Customer Managemet</li>
                                    </ul>
                                </div> <!-- /.right-side -->
                            </div>
                        </div> <!-- /#yearly -->
                    </div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.pricing-plan-one -->
</div> <!-- /.two-section-wrapper -->



<!-- 
=============================================
    Home Blog Section
============================================== 
-->
<div class="home-blog-section">
    <div class="container">
        <div class="theme-title text-center">
            <h6>Our News</h6>
            <h2>News from our company</h2>
        </div> <!-- /.theme-title -->
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-one">
                    <img src="images/home/6.jpg" alt="">
                    <h6>Rashed Ka.</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-two">
                    <img src="images/home/7.jpg" alt="">
                    <h6>Jannatul Fa.</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-three">
                    <img src="images/home/8.jpg" alt="">
                    <h6>Fred Johnston</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-four">
                    <img src="images/home/9.jpg" alt="">
                    <h6>Austin Cross</h6>
                    <h5><a href="blog-details.html" class="tran3s">Challange yourself to win the future</a></h5>
                    <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant information with tips.</p>
                    <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.home-blog-section -->


{{ end }}