{{ define "main" }}

<!-- 
=============================================
    Theme Main Banner
============================================== 
-->
{{ with .Params.section1 }}
<div id="theme-main-banner" class="banner-one">
    <div data-src="/images/home/slide-1.jpg">
        <div class="camera_caption">
            <div class="container">
                <h5 class="wow fadeInUp animated" data-wow-offset="-100">{{ .subtitle }}</h5>
                <h1 class="wow fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="-100"><span>{{ .line1 }}</span><br><span>{{ .line2 }}</span>{{ with .line3 }}<br><span>{{ . }}</span>{{ end }}</h1>
                {{ with .btn }}
                {{ $link := .link }}
                <a href='{{ $.Scratch.Get $link }}' class="tran3s hvr-trim wow fadeInUp animated p-bg-color button-one" data-wow-delay="0.3s">{{ .title }}</a>
                {{ end }}
                <!-- <div class="wow fadeInRight animated image-shape-one" data-wow-delay="0.33s">
                    <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="778" height="576">
                        <clipPath class="clip1">
                            <use xlink:href="#shape-one" />
                        </clipPath>
                        <g clip-path="url(#shape-one)">
                            <image width="778" height="576" href="/img/annie-spratt-608001-unsplash.jpg" class="banner-img-one">
                            </image>
                        </g>
                    </svg>
                </div>
                <div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.39s"><div class="theme-shape-two"></div></div> -->
                <div class="gif-box">
                    <!-- <img class="wow fadeInRight animated" src="{{ .image }}" alt=""> -->
                    <div class="cui-embed"
                         data-cui-uid="AIMe7p"
                         data-cui-avatar="https://labs-assets.typeform.com/cui/avatars/AIMe7p/81566dc527f3f5d9584e.jpg"
                         data-cui-theme="#C7E6DA">
                    </div>
                    <script src="https://labs-assets.typeform.com/cui/cui-embed.js" async></script>
                </div>
                <!-- <div class="wow fadeInRight animated image-shape-two" data-wow-delay="0.39s"><div class="theme-shape-two"></div></div> -->
            </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
    </div>
</div> <!-- /#theme-main-banner -->
{{ end }}


<!-- 
=============================================
    What We Do
============================================== 
-->
{{ with .Params.section2 }}
<div class="what-we-do">
    <div class="container">
        <h3>{{ .description1 }}</h3>
        <h6>{{ .description2 }}</h6>

        <div class="row">
            {{ range .blocks }}
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
                <div class="single-block {{ .class }}">
                    <div class="icon {{ .class }}"><i class="{{ .icon }}"></i></div>
                    <h6>{{ .title }}</h6>
                    <h5><a href='{{ $.Scratch.Get "servicesPage" }}' class="tran3s">{{ .description }}</a></h5>
                </div> <!-- /.single-block -->
            </div> <!-- /.col- -->
            {{ end }}
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.what-we-do -->
{{ end }}


<!-- 
=============================================
    More About Us
============================================== 
-->
{{ with .Params.section3 }}
<div class="more-about-us">
    <div class="image-box">
        <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="632">
            <clipPath class="clip1">
                <use xlink:href="#shape-one" />
            </clipPath>
            <g clip-path="url(#shape-one)">
                <image width="854" height="632" href="{{ .image }}" class="image-shape">
                </image>
            </g>
        </svg>
    </div>
    <div class="theme-shape-three"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-offset-5">
                <div class="main-content">
                    <h2>{{ .title }}</h2>
                    <div class="main-wrapper">
                        <h4>{{ .subtitle }}</h4>
                        <p>{{ .description | markdownify }}</p>
                        <img src="/images/home/sign.png" alt="sign">
                        {{ with .btn }}
                        {{ $link := .link }}
                        <div class="button-wrapper p-bg-color">
                            <span>{{ .subtitle }}</span>
                            <a href='{{ $.Scratch.Get $link }}' class="hvr-icon-wobble-horizontal">{{ .title }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div> <!-- /.button-wrapper -->
                        {{ end }}
                    </div> <!-- /.main-wrapper -->
                </div> <!-- /.main-content -->
            </div> <!-- /.col- -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.more-about-us -->
{{ end }}

<!-- 
=============================================
    Theme Counter
============================================== 
-->
{{ with .Params.section4 }}
<div class="theme-counter">
    <div class="container">
        <div class="row">
            {{ range . }}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="single-box">
                    <h2 class="number"><span class="timer" data-from="0" data-to="{{ .number }}" data-speed="1000" data-refresh-interval="5">0</span>{{ with .suffix }}{{ . }}{{ end }}</h2>
                    <p>{{ .title }}</p>
                </div> <!-- /.single-box -->
            </div>
            {{ end }}
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.theme-counter -->
{{ end }}

<!-- 
=============================================
    Our Portfolio
============================================== 
-->
{{ with .Params.section5 }}
<div class="our-portfolio">
    <div class="container">
        <div class="theme-title">
            <h6>{{ .title }}</h6>
            <h2>{{ .description | markdownify }}</h2>
            {{ with .btn }}
            {{ $link := .link }}
            <a href='{{ $.Scratch.Get $link }}' class="tran3s">{{ .title }}</a>
            {{ end }}
        </div> <!-- /.theme-title -->
    </div> <!-- /.container -->

    <div class="wrapper">
        <div class="row">
            <div class="portfolio-slider">
                {{ range $i, $e := (first 8 (sort (where $.Site.RegularPages "Type" "clients") ".Params.ordre" "asce")) }}
                <div class="item">
                    <div class="image" style="height: 275px; overflow: hidden; text-align: center; position: relative;">
                        <img src="{{ .Params.image }}" alt="" style="min-height: 100%; height:auto; width: 200%; max-width: 200% !important; position: absolute; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; margin: auto;">
                        <div class="opacity tran4s">
                            <a data-fancybox="project" href="{{ if .Params.link.external }}{{ .Params.link.url }}{{ else }}{{ .Permalink }}{{ end }}" {{ if .Params.link.external }}target="_blank" {{ end }}class="tran3s" title="{{ .Params.resume.titre }}">
                                <span class="client-title">{{ .Params.resume.titre }}</span>
                                <span class="client-type">{{ .Params.resume.court }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div> <!-- /.portfolio-slider -->
        </div> <!-- /.row -->
    </div> <!-- /.wrapper -->
</div> <!-- /.our-portfolio -->
{{ end }}

<!-- 
=============================================
    Home Service Section
============================================== 
-->
{{ with .Params.section6 }}
<div class="home-service-section">
    <div class="container">
        <div class="col-md-9 col-md-offset-3 main-container">
            <div class="theme-title">
                <h6>{{ .title }}</h6>
                <h2>{{ .description1 | markdownify }}</h2>
                <p>{{ .description2 | markdownify }}</p>
                {{ with .btn }}
                {{ $link := .link }}
                <a href='{{ $.Scratch.Get $link }}' class="tran3s">{{ .title }}</a>
                {{ end }}
            </div> <!-- /.theme-title -->
            <ul class="clearfix row">
                {{ range .blocks }}
                <li class="col-md-6">
                    <div class="{{ .class }}">
                        <i class="{{ .icon }} {{ .class }}"></i>
                        <h5><a href="{{ .Site.BaseURL }}{{ .link }}" class="tran3s">{{ .title }}</a></h5>
                        <p>{{ .description }} </p>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div> <!-- /.main-container -->
        <img src="{{ .image }}" alt="Image" class="wow fadeInLeft">
    </div> <!-- /.container -->
</div> <!-- /.home-service-section -->
{{ end }}

{{ with .Params.section7 }}
<!-- ==================== TWO SECTION WRAPPER ====================== -->
<!-- <div class="two-section-wrapper">
    <div class="testimonial-section">
        <div class="image-box wow fadeInLeft">
            <svg  version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="854" height="630">
                <clipPath class="clip1">
                    <use xlink:href="#shape-one" />
                </clipPath>
                <g clip-path="url(#shape-one)">
                    <image width="854" height="630" href="{{ .image }}" class="image-shape">
                    </image>
                </g>
            </svg>
        </div>
        <div class="theme-shape-four wow fadeInLeft"></div>
        <div class="container">
            <div class="main-container col-md-6 col-md-offset-6">
                <div class="theme-title">
                    <h6>{{ .title }}</h6>
                    <h2>{{ .description | markdownify }}</h2>
                </div>
                <div class="testimonial-slider">
                    {{ range .blocks }}
                    <div class="item">
                        <div class="wrapper">
                            <p>{{ .description }}</p>
                            <div class="name clearfix">
                                <img src="{{ .image }}" alt="">
                                <h5>{{ .name }}</h5>
                                <span>{{ .company }}</span>
                            </div>
                        </div> 
                    </div>
                    {{ end }}
                </div>
            </div> 
        </div> 
    </div> 
</div>  -->
{{ end }}


<!-- 
=============================================
    Home Blog Section
============================================== 
-->
{{ with .Params.section8 }}
<div class="home-blog-section">
    <div class="container">
        <div class="theme-title text-center">
            <h6>{{ .title }}</h6>
            <h2>{{ .description }}</h2>
        </div> <!-- /.theme-title -->
        <div class="row">
            {{ range $i, $e := (first 4 (where $.Site.RegularPages "Type" "articles")) }}
            <div class="col-md-6 col-xs-12">
                <div class="single-blog color-{{ if eq $i 0 }}one{{ else if eq $i 1}}two{{ else if eq $i 2 }}three{{ else }}four{{ end }}">
                    {{ if isset .Params "author" }}
                        {{ $author := index .Site.Data.authors .Params.author }}
                        <img src="{{ $author.image }}" alt="{{ $author.name }}">
                        <h6>{{ $author.name }}</h6>
                    {{ end }}
                    <h5><a href="{{ .Permalink }}" class="tran3s">{{ .Params.listing.title }}</a></h5>
                    <p>{{ .Params.listing.description }}</p>
                    <a href="{{ .Permalink }}" class="tran3s hvr-icon-wobble-horizontal">Lire la suite <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.single-blog -->
            </div> <!-- /.col- -->
            {{ end }}
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.home-blog-section -->
{{ end }}

{{ end }}