{{ define "main" }}
<!-- 
=============================================
	Theme Inner Banner 
============================================== 
-->
<div class="inner-page-banner" style="background-image: url({{ .Params.image }}); margin-bottom: 60px;">
	<div class="opacity">
		<h1>{{ .Params.titre }}</h1>
		<ul>
			<li><a href="index.html">{{ i18n "home" }}</a></li>
			<li>/</li>
			<li>{{ .Params.breadcrumbs }}</li>
		</ul>
	</div> <!-- /.opacity -->
</div> <!-- /inner-page-banner -->


<!-- 
=============================================
	Contact Us
============================================== 
-->
<div class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h6>{{ .Params.section1.title }}</h6>
			</div>
			<div class="col-lg-7 col-md-6 col-xs-12">
				<div class="contact-us-form">
					<form action="/merci" netlify method="post" name="contact-{{ $.Lang }}" class="form-validation" autocomplete="off">
						<input type="email" placeholder="{{ i18n "email" }}*" name="email">
						<input type="text" placeholder="{{ i18n "subject" }}*" name="sub">
						<textarea placeholder="Message*" name="message"></textarea>
						<div data-netlify-recaptcha></div>
						<button type="submit" class="p-bg-color hvr-trim-two" value="{{ i18n "send" }}">{{ i18n "send" }}</button>
					</form>
				</div> <!-- /.contact-us-form -->
			</div> <!-- /.col- -->
			<div class="col-lg-5 col-md-6 col-xs-12">
				<div class="contact-address">
					<p>{{ .Params.section1.subtitle }}</p>
					<a href="tel:{{ .Site.Data.settings.mphone }}" class="tran3s">{{ .Site.Data.settings.phone }}</a>
					<ul>
						{{ with .Site.Data.settings.socials}}
						<li><a href="{{ .facebookurl }}" class="tran3s" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="{{ .instagramurl }}" class="tran3s" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="{{ .pinteresturl }}" class="tran3s" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="{{ .linkedinurl }}" class="tran3s" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						{{ end }}
					</ul>
				</div> <!-- /.contact-address -->
			</div> <!-- /.col- -->
		</div> <!-- /.row -->
	</div> <!-- /.conatiner -->

	<!--Contact Form Validation Markup -->
	<!-- Contact alert -->
	<div class="alert-wrapper" id="alert-success">
		<div id="success">
			<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
			<div class="wrapper">
               	<p>Your message was sent successfully.</p>
             </div>
        </div>
    </div> <!-- End of .alert_wrapper -->
    <div class="alert-wrapper" id="alert-error">
        <div id="error">
           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
           	<div class="wrapper">
               	<p>Sorry!Something Went Wrong.</p>
            </div>
        </div>
    </div> <!-- End of .alert_wrapper -->
</div> <!-- /.contact-us -->


<!-- Google Map _______________________ -->
<div id="google-map-area">
	<div class="google-map" id="contact-google-map" data-map-lat="45.459730" data-map-lng="-73.567492" data-map-title="Venez nous voir!" data-map-zoom="12"></div>
</div>
{{ end }}