<!-- ===================================================
    Loading Transition
==================================================== -->
{{ if .IsHome }}
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
{{ end }}



<!-- 
=============================================
    Theme Header
============================================== 
-->
<header class="theme-menu-wrapper {{ if .Params.headerwhite }}inner-menu menu-style-two {{ end }}full-width-menu">
    <div class="header-wrapper">
        <div class="clearfix">
            <!-- Logo -->
            <div class="logo float-left tran4s"><a href='{{ $.Scratch.Get "homePage" }}'><img {{ if .Params.headerwhite }}src="/img/logo-akia-cercle-blanc.png"{{ else }}src="/img/logo-akia-cercle-couleur.png"{{ end }} alt="Akia Marketing Logo" style="height: 50px; width: auto; margin-top: -15px;"></a></div>

            <!-- ============================ Theme Menu ========================= -->
            <nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
                <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
               </div>
               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav">
                        {{ $active := .Params.menuid }}
                        {{ range .Site.Data.menu.main }}
                        {{ if .submenu }}
                               <li class="dropdown-holder menu-list{{ if eq .active $active }} active{{ end }}"><a href="javascript:void(0);" class="tran3s">{{ if eq $.Lang "fr" }}{{.fr}}{{ else if eq $.Lang "en" }}{{.en}}{{end}}</a>
                                    <!-- start sub menu -->
                                    <ul class="sub-menu">
                                        {{ range .links }}
                                        {{ $link := .link }}
                                        <li><a href='{{ $.Scratch.Get $link }}'>{{ if eq $.Lang "fr" }}{{.fr}}{{ else if eq $.Lang "en" }}{{.en}}{{end}}</a></li>
                                        {{ end }}
                                    </ul>
                                </li>
                            {{ else }}
                                {{ $link := .link }}
                                <li class="{{ if eq .active $active }}active{{ end }} menu-list tran3s"><a href='{{ $.Scratch.Get $link }}'>{{ if eq $.Lang "fr" }}{{.fr}}{{ else if eq $.Lang "en" }}{{.en}}{{end}}</a></li>
                            {{ end }}
                        {{ end }} 
                        {{ if .Params.translationlink }}
                            {{ $link := .Params.translationlink }}
                            <li><a href='{{ $link | absURL }}' class="title lang" title=>{{ if eq $.Lang "fr" }}EN{{ else if eq $.Lang "en" }}FR{{ end }}</a></li>
                        {{ else if .Translations }}
                            {{ range .Translations }}
                            <li><a href="{{.Permalink}}" class="title lang">{{ i18n (upper (.Lang)) }}</a></li>
                            {{ end }}
                        {{ end }}
                        <!-- <li class="login-button"><a href="https://akia.clinked.com/" class="tran3s" data-toggle="modal" data-target=".signUpModal">Espace Client</a></li> -->
                        <li class="login-button"><a href="https://akia.clinked.com/" class="tran3s" target="_blank" rel="nofollow noreferrer noopener" style="padding: 0px 20px; width: 170px">Espace Client</a></li>
                    </ul>
               </div><!-- /.navbar-collapse -->
            </nav> <!-- /.theme-main-menu -->
        </div> <!-- /.clearfix -->
    </div>
</header> <!-- /.theme-menu-wrapper -->

