{{- if .Site.Data.settings.removefromexternalsearch -}}
	<meta name="robots" content="noindex">
{{- else if .Params.noindex }}
	<meta name="robots" content="noindex">
{{- else if eq .Lang "en" -}}
	<meta name="robots" content="noindex">
{{- else if and (eq .Type "clients") (not .IsNode) -}}
	<meta name="robots" content="noindex">
{{- else if and (eq .Type "singles") .IsNode -}}
	<meta name="robots" content="noindex">
{{- else if or (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") -}}
	<meta name="robots" content="noindex">
{{- end -}}