<div id="Filters" class="column one ">
    <ul class="filters_buttons">
        <li class="label">
            Filter by
        </li>
        <li class="categories">
            <a class="open" href="#"><i class="icon-docs"></i>Categories<i class="icon-down-dir"></i></a>
        </li>
        <li class="tags">
            <a class="open" href="#"><i class="icon-tag"></i>Tags<i class="icon-down-dir"></i></a>
        </li>
        <li class="authors">
            <a class="open" href="#"><i class="icon-user"></i>Authors<i class="icon-down-dir"></i></a>
        </li>
        <li class="reset">
            <a class="close" data-rel="*" href="blog.html"><i class="icon-cancel"></i>Show all</a>
        </li>
    </ul>
    <div class="filters_wrapper">
        <ul class="categories">
            <li class="reset-inner">
                <a data-rel="*" href="blog.html">All</a>
            </li>
            <li>
                <a data-rel=".category-hot-articles" href="category-page.html">Hot articles</a>
            </li>
            <li>
                <a data-rel=".category-people" href="category-page.html">People</a>
            </li>
            <li>
                <a data-rel=".category-places" href="category-page.html">Places</a>
            </li>
            <li>
                <a data-rel=".category-stories" href="category-page.html">Stories</a>
            </li>
            <li class="close">
                <a href="#"><i class="icon-cancel"></i></a>
            </li>
        </ul>
        <ul class="tags">
            <li class="reset-inner">
                <a data-rel="*" href="blog.html">All</a>
            </li>
            <li>
                <a data-rel=".tag-design" href="tag-page.html">Design</a>
            </li>
            <li>
                <a data-rel=".tag-framework" href="tag-page.html">Framework</a>
            </li>
            <li>
                <a data-rel=".tag-grid" href="tag-page.html">Grid</a>
            </li>
            <li>
                <a data-rel=".tag-motion" href="tag-page.html">Motion</a>
            </li>
            <li>
                <a data-rel=".tag-themeforest" href="tag-page.html">Themeforest</a>
            </li>
            <li>
                <a data-rel=".tag-video" href="tag-page.html">Video</a>
            </li>
            <li>
                <a data-rel=".tag-wordpress" href="tag-page.html">Wordpress</a>
            </li>
            <li class="close">
                <a href="#"><i class="icon-cancel"></i></a>
            </li>
        </ul>
        <ul class="authors">
            <li class="reset-inner">
                <a data-rel="*" href="blog.html">All</a>
            </li>
            <li>
                <a data-rel=".author-admin" href="#">Muffin Group</a>
            </li>
            <li class="close">
                <a href="#"><i class="icon-cancel"></i></a>
            </li>
        </ul>
    </div>
</div>