<div class="section mcb-section" style="padding-top:120px; padding-bottom:70px; {{ if .color }}background-color: {{ .color }};{{ else }}background-color:#db9d3a;{{ end }}">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                    <div class="column_attr align_center" style=" padding:0 5%;">
                        <h3 style="color: #fff;">{{ .quote }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>