{{ $width := div 99.96 (len .images) }}

<div class="wrap mcb-wrap one  valign-top clearfix">
    <div class="mcb-wrap-inner">
        <div class="column mcb-column one column_column">
            <div class="column_attr">
                <style type='text/css'>
                    #gallery-1 {
                        margin: auto;
                    }
                    #gallery-1 .gallery-item {
                        float: left;
                        margin-top: 10px;
                        text-align: center;
                        width: {{ $width }}%;
                    }
                    #gallery-1 img {
                        border: 2px solid #cfcfcf;
                    }
                    #gallery-1 .gallery-caption {
                        margin-left: 0;
                    }
                    /* see gallery_shortcode() in wp-includes/media.php */
                </style>
                <div id='gallery-1' class='gallery galleryid-2279 gallery-columns-4 gallery-size-thumbnail file'>
                    {{ range .images }}
                    <dl class='gallery-item'>
                        <dt class='gallery-icon portrait'>
								<a href='{{ .link }}'><img width="350" height="350" src="/half{{ .link }}" class="attachment-thumbnail size-thumbnail" alt="home_lifestyle_blog_stories_3" /></a>
							</dt>
                    </dl>
                    {{ end }}
                    <br style="clear:both">
                </div>
            </div>
        </div>
    </div>
</div>