{{ $mymonths := $.Site.Data.mois.mois }}
{{ $mydays := $.Site.Data.jour.jour }}
<div class="date_label">
    {{.Date.Month}} {{ index $mydays .Date.Day }}, {{.Date.Year}}
</div>
<div class="post-photo-wrapper scale-with-grid"><a href="{{ .Permalink }}" title="{{ .Params.listing.title }}"><img src="/quart{{ .Params.listing.image }}" class="scale-with-grid wp-post-image" alt="{{ .Params.listing.title }}" itemprop="image" /></a>
</div>
<div class="post-desc-wrapper">
    <div class="post-desc">
        <div class="post-head">
            <div class="post-meta clearfix">
                <div class="author-date">
                    {{ if isset .Params "author" }}
                        {{ $author := index .Site.Data.authors .Params.author }}
                        <span class="vcard author post-author">
                            <span class="label">Published by </span>
                            <i class="icon-user"></i> 
                            <span class="fn">{{ $author.name }}</span>
                        </span>
                    {{ end }}
                        
                    <span class="date"><span class="label">on </span><!-- <i class="icon-clock"></i> --> 
                    <span class="post-date updated">{{.Date.Month}} {{ index $mydays .Date.Day }}, {{.Date.Year}}</span></span>
                    <!-- <div class="post-links">
                        <i class="icon-comment-empty-fa"></i><a href="/item3.html#comments" class="post-comments">4</a>
                    </div> -->
                </div>
                <!-- <div class="category">
                    <span class="cat-btn">Categories <i class="icon-down-dir"></i></span>
                    <div class="cat-wrapper">
                        <ul class="post-categories">
                            <li>
                                <a href="/category-page.html" rel="category tag">Hot articles</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="post-title">
            <h2 class="entry-title" itemprop="headline"><a href="{{ .Permalink }}">{{ .Params.listing.title }}</a></h2>
        </div>
        <div class="post-excerpt">
            {{ .Params.listing.description }}
        </div>
    </div>
</div>
