<div class="section mcb-section" style="padding-top:120px; padding-bottom:70px; background-image:url(/xl{{ .images.link }}); background-repeat:no-repeat; background-position:center top; background-attachment:fixed; background-size:cover; -webkit-background-size:cover" data-enllax-ratio="-0.3">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one  valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                    <div class="column_attr align_center" style=" padding:0 5%;">
                        <h3 class="themecolor article-quote"{{ with .color }} style="color: {{ . }}"{{ end }}>{{ .quote }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>