<!-- ignore empty links with + -->
{{ $headers := findRE "<h[2].*?>(.|\n])+?</h[2]>" .Content }}
<!-- at least one header to link to -->
{{ $has_headers := ge (len $headers) 1 }}
{{ if $has_headers }}
<div class="table-of-contents toc bd-callout" id="toc">
    <!-- TOC header -->
    <!-- <h4 class="text-muted">Table of Contents</h4> -->
    {{ $.Scratch.Set "counting" 0 }}
    {{ range $headers }}
        {{ $header := . }}
        {{ range first 1 (findRE "<h[2]" $header 1) }}
            {{ range findRE "[2]" . 1 }}
                {{ $next_heading := (int .) }}
                {{ $.Scratch.Add "counting" 1 }}
                <!-- generate li array of the proper depth -->
                {{ range seq $next_heading }}
                    <ul class="toc-h{{ . }}">
                {{end}}
                {{ $base := ($.Page.File.LogicalName) }}
                {{ $anchorId := ($header | plainify | htmlUnescape | anchorize) }}
                {{ $href := delimit (slice $base $anchorId) "#" | string }}
                <li><a href="#{{ $anchorId }}">
                    {{ $.Scratch.Get "counting" }}. {{ $header | plainify | htmlUnescape }}
                </a></li>
                <!-- close list -->
                {{ range seq $next_heading }}
                    </ul>
                {{end}}
            {{end}}
        {{end}}
    {{ end }}
</div>
{{ end }}